@import url('style.css');
###My CSS Here###
@import url('https://www.fontify.me/wf/e6a3c17c14d6295d075e29aa38e455ce');
body{
font-family: font92720;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}
